* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/images/seigaiha.png);
    font-family: 'Roboto', sans-serif;
	color: #FF8BB5;
}
#msg{
	border: 2px solid #FF8BB5;
	padding-left: 10px;
	padding-right: 10px;
    text-align: center;
	font-size: 30px;
}
a {
	text-align: center;
	font-size: 80%;
	padding-bottom: 0;
}
footer {
    bottom: 0;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    position: fixed;
    font-size: 15px;
    padding-top: 5px;
    color: #FF8BB5;
    text-align: right;
    font-family: 'Roboto', sans-serif; 
}

.centered {
  position: fixed; /* or absolute */
  top: 40%;
  text-align: center;
  left: 40%;
  left: 40%;
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(https://dl.dropbox.com/u/5381777/wip/css/PressStart.woff) format('woff');
}


#content {text-align: center; width: 320px; margin: 20px auto;}
#please { color: #888; }
#msg { }
#msg span { color: #444; }